{% load staticfiles %}
<!doctype html lang="es">

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->


  <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{SITE_NAME}}|{% block head_subtitle %}{% endblock %}</title>
        <meta name="description" content={{META_DESCRIPTION}}>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static semantic-ui/dist/semantic.min.css %}">
        <script src="{% static semantic-ui/dist/semantic.min.js %}"></script>

        {% block head_css %}{% endblock %}
        {% block head_javascript %}{% endblock %}

        <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

<body>
  {% block navbar%}
  	
	{% block buscador %}
	{% endblock buscador %}

  {% endblock navbar%}
  <main>
    {% block main%}

    {% endblock main%}
  </main>

    <footer>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      {% include analitics.html %}
      {% block footer%}

      {% endblock footer%}
    </footer>
  </body>

</html>
